<main>
  <div class="mat-headline">Fare Information</div>
  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="2rem" class="mat-body-1">
    <div fxFlex="50%">
      <p class="mat-title">Fares</p>
      <p class="mat-subheading-2">Boston</p>
      <ul>
        <li>First 1/7 Mile: $2.60</li>
        <li>Each 1/7 Mile thereafter: $.40</li>
        <li>Idling/Waiting time: $28.00 per hour</li>
      </ul>

      <p class="mat-body-2">All cities/towns beyond 20 miles from Boston:</p>

      <ul>
        <li>Flat rate of $3.20 per mile as published in the "Flat Rate Book"</li>
        <li>There is no charge for luggage - Please take all of your property</li>
        <li>Receipt required by the Boston Police Department.</li>
      </ul>
    </div>

    <div fxFlex="50%">
      <p class="mat-title">Tolls and Fees</p>
      <p class="mat-subheading-2">From Boston to East Boston - $2.65</p>

      <p class="mat-body-2">From Logan Airport to Boston:</p>

      <table>
        <tr>
          <td>Via Summer or Ted Williams Tunnel</td>
          <td>$2.65</td>
        </tr>
        <tr>
          <td>Plus MASSPORT Taxi Pool Fee</td>
          <td>$2.25</td>
        </tr>
        <tr>
          <td>Total Fee/Toll added to meter</td>
          <td>$4.90</td>
        </tr>
        <tr>
          <td>VIA Tobin Bridge</td>
          <td>$2.25</td>
        </tr>
        <tr>
          <td>Plus MASSPORT Taxi Pool Fee</td>
          <td>$2.25</td>
        </tr>
        <tr>
          <td>Total Fee/Toll added to meter</td>
          <td>$4.50</td>
        </tr>
      </table>

      <p class="mat-body-2">From Boston to Logan Airport, or to North Shore Communities:</p>

      <table>
        <tr>
          <td>VIA Callahan or Ted Williams Tunnel</td>
          <td>$2.65</td>
        </tr>
        <tr>
          <td>Total Fee/Toll added to meter</td>
          <td>$2.65</td>
        </tr>
        <tr>
          <td>VIA Tobin Bridge</td>
          <td>$2.25</td>
        </tr>
        <tr>
          <td>Total Fee/Toll added to meter</td>
          <td>$2.25</td>
        </tr>
      </table>

      <p class="mat-body-2">CUSTOMER PAYS ALL OTHER TOLLS AND FEES</p>
    </div>
  </div>
</main>
