<main>

  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="2rem" class="mat-body-1">

    <div fxFlex="30%">
      <div class="mat-headline">Areas Served by Us</div>
      <ul>
        <li *ngFor='let marker of markers'>{{marker.name}}</li>
      </ul>
    </div>

    <div fxFlex="70%">
      <agm-map
        [latitude]="lat"
        [longitude]="lng"
        [fullscreenControl]='true'
        [zoom]='11'
        [usePanning]='true'
        [mapTypeControl]='true'
        (mapReady)=getMapInstance($event)
        (mapClick)=resetMap()>
          <agm-marker *ngFor='let marker of markers'
            [latitude]="marker.lat"
            [longitude]="marker.lng"
            [animation]="'DROP'">
          </agm-marker>
      </agm-map>
    </div>
  </div>
</main>
